* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(135deg, #7388e8, #9b95a1);
}
.header {
  background: linear-gradient(135deg, #ccee, #cfff);
  text-align: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.tranfer-list-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-table {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid grey;
}
.transfer-controls {
  align-items: center;
  max-width: 5rem;
}
.list-div {
  display: flex;
  align-items: center;
  gap: 5px;
}
